<h1>Listing crossbows</h1>

<div>
    <% @crossbows.each do |cb| %>
      
        <div class="product-block" style="float :left">
          <div class="white-wrap">
            <a class="model-name" title="Купить"  href="/crossbows/<%= cb.id %>" target="_blank" rel="nofollow"><%= cb.name %> </a>
            <a class="photo-wrap" href="/crossbows/<%= cb.id %>" target="_blank" rel="nofollow">
            <span><img height="180" width="180" src="assets\images\crossbow_view.jpg" alt="Шарики Paintballs New Formular Kal .43 rot-orange "></span></a>
          </div>
          <div class="gradient-wrap">
            <a class="btn btn-grey btn-large" title="Купить" href="/static_pages/cart" target="_blank" rel="nofollow">Купить <span class="count"><%= cb.price %></span></a>
            
            <div class="separator-dotted">
            </div>
            
          </div>
      </div>
      
    <% end %>
</div>

<br>

<%= link_to 'New Crossbow', new_crossbow_path %>
