<p id="notice"><%= notice %></p>

<p>
  <strong>Bow:</strong>
  <%= @product_reiting.bow_id %>
</p>

<p>
  <strong>Crossbow:</strong>
  <%= @product_reiting.crossbow_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @product_reiting.user_id %>
</p>

<p>
  <strong>Raiting:</strong>
  <%= @product_reiting.raiting %>
</p>

<%= link_to 'Edit', edit_product_reiting_path(@product_reiting) %> |
<%= link_to 'Back', product_reitings_path %>
