<div class="top_menu_types">
  <% @types.each do |ty| %>
  <div class="top_menu_types_element">
    <a><%= ty.name %></a>
  </div>
  <% end %>
</div>

<div>
    <% @bows.each do |bw| %>
      
        <div class="product-block" style="float :left">
          <div class="white-wrap">
            <a class="model-name" title="Купить"  href="/bows/<%= bw.id %>" target="_blank" rel="nofollow"><%= bw.name %> </a>
            <p>Просмотров <%= get_viewscount(bw.id) %></p>
            <a class="photo-wrap" href="/bows/<%= bw.id %>" target="_blank" rel="nofollow">
            <span><img height="180" width="180" src="<%= bw.mainphoto %>"  alt="<%= bw.description[0,90]%>... "></span></a>
          </div>
          <div class="gradient-wrap">
            <%= button_to "Купить"+"\n"+bw.price.to_s, line_items_path(:bow_id => bw), :remote => true, data: { confirm: 'Добавлено в карзину' }, :class => "btn btn-grey btn-large" %>
            
            <div class="separator-dotted">
            </div>
            
          </div>
      </div>
      
    <% end %>
</div>

<div>
  <%= link_to 'New Bow', new_bow_path %>
</div>
