<!DOCTYPE html>
<html>
<head>
  <!-- топбар -->
	<header class="siteheader" id="siteheader">
		<div>
	  		<p class="name">IGWS</p>
	  	</div>
	  	<div style="float:right; margin:0px 30px 0px 0px">
	  		<a href="/line_items" style="height :70px" class="model-name">В корзине <%= LineItem.count %></a>
	  	</div>
	</header>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="left_menu">
		<div class="left_menu_element">
			<a style="color: white;" href="/static_pages/home">Главная</a>
		</div>
		<div class="left_menu_element">
			<a style="color: white;" href="/bows">Луки</a>
		</div>
		<div class="left_menu_element">
			<a style="color: white;" href="/crossbows">Арбалеты</a>
		</div>
	</div>
	<div style="margin-left: 240px;">
		<%= yield %>
	</div>
</body>
</html>
